.content-text {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.content-text_type_bold {
  font-weight: 700;
}

.content-title {
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .content-title {
    font-size: 30px;
    line-height: 34px;
  }
}

/* .search-res {
  padding: 104px;
  display: flex;
  justify-content: center;
  background: #F5F6F7;
}

@media (max-width: 1440px) {
  .search-res {
    padding: 40px;
  }
}
@media (max-width: 320px) {
  .search-res {
    padding: 16px;
  }
} */


