.content-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.content-text_type_bold {
  font-weight: 700;
}

.content-title {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .content-title {
    font-size: 30px;
    line-height: 34px;
  }
}




